/* Theme Colors */
$primaryGreen: #62bd5e;
$blue: #3b5998;
$darkBlue: #0275d8;
$blue-grey: #eff4fa;
$white: #fff;
$black: #000;
$gray: #3c3a3a;
$dimgrey: #f8f8f8;
$red: red;
$orange: orange;

/* Colors */
.primary-col,
.footer-links a:hover {
  color: $primaryGreen !important;
}

.blue-grey-col {
  color: $blue-grey;
}

.white-col,
.active,
.nav-links>ul>li>a:hover,
.desktop-menu .active,
.phone, .email, .cta {
  color: $white !important;
}

.black-col,
.nav-links>ul>li>a,
.footer-links a:hover,
.email:hover,
.phone:hover {
  color: $black !important;
}

.blue-col {
  color: $blue;
}

.gray-col {
  color: $gray;
}

.dark-blue-col {
  color: $darkBlue;
}

.red-col {
  color: $red;
}

/* Background Colors */
.primary-bg {
  background-color: $primaryGreen;
}

.blue-grey-bg {
  background-color: $blue-grey;
}

.dark-blue-bg {
  background-color: $darkBlue;
}

.white-bg,
.box {
  background-color: $white;
}

.black-bg,
.desktop-menu .active, .cta {
  background-color: $black;
}

.jumbotron-wrapper {
  background-color: $blue-grey;
}

.dimgrey-bg {
  background-color: $dimgrey;
}

.orange-bg {
  background-color: $orange;
}