/* Theme Colors */
$primaryGreen: #62bd5e;
$blue: #3b5998;
$blue-grey: #eff4fa;
$white: #fff;
$black: #000;
$gray: #3c3a3a;

/* Colors */
.primary-col,
.nav-links>ul>li:hover,
.footer-links>span:hover {
  color: $primaryGreen;
}

.blue-grey-col {
  color: $blue-grey;
}

.white-col {
  color: $white;
}

.black-col {
  color: $black;
}

.blue-col {
  color: $blue;
}

.gray-col {
  color: $gray;
}

/* Background Colors */
.primary-bg {
  background-color: $primaryGreen;
}

.blue-grey-bg {
  background-color: $blue-grey;
}

.white-bg,
.box {
  background-color: $white;
}

.black-bg, .footer {
  background-color: $black;
}

.jumbotron-wrapper {
  background-color: $blue-grey;
}