.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.gap-xs {
    gap: 5px;
}

.gap-std {
    gap: .7em;
}

.gap-1 {
    gap: 1em;
}

.gap-med {
    gap: 2em;
}

.align-center {
    text-align: center;
}

.flex-1 {
    flex: 1;
}

.wrap {
    flex-wrap: wrap;
}

.d-none {
    display: none;
}

.mr-1em {
    margin-right: .5em;
}

@media (max-width: 600px) {

    .flex-row-xs {
        flex-direction: row;
    }

    .flex-col-xs {
        flex-direction: column;
    }

    .justify-content-center-xs {
        justify-content: center;
    }

    .justify-content-between {
        justify-content: space-between;
    }

    .align-items-center-xs {
        align-items: center;
    }

    .gap-xs {
        gap: 5px;
    }

    .gap-1-xs {
        gap: 1em !important;
    }

    .gap-2-xs {
        gap: 2em !important;
    }

    .align-center-xs {
        text-align: center;
    }

    .contact-help-wrapper {
        padding: 30px 0 !important;
    }
}