.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.gap-std {
    gap: .7em;
}

.gap-1 {
    gap: 1em;
}

.gap-med {
    gap: 2em;
}

.align-center {
    text-align: center;
}

.flex-1 {
    flex: 1;
}