@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import './colors.scss';
@import './flex.scss';
@import './reponsiveness.scss';

* {
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.app-wrapper {
  height: 100vh;
}

.topbar-wrapper {
  height: 50px;
  padding: 1em 3em;
  box-sizing: border-box;

  .icon {
    font-size: 1.4em;
  }
}

.navbar-wrapper {
  height: 80px;

  .navbar {
    padding: 1em 3em;
    box-sizing: border-box;

    .logo {
      width: 100px;
    }

    .nav-links>ul {
      gap: 2.5em;
      padding: 0 1em;

      li>a {
        text-decoration: none;
      }
    }

    .nav-links>ul>li:hover {
      transition: ease-in-out .35s;
      cursor: pointer;
    }
  }
}

.get-started-btn {
  border-color: $white;
  border-radius: 6px;
  font-size: 1em;
  padding: 0em 25px;
  font-weight: 500;
  height: 50px;
}

.main-content {
  height: calc(100svh - 70px - 50px);
  overflow-y: auto;
}

.full-height,
.navbar,
.topbar,
.hero {
  height: 100%;
}

.block,
body,
.main-content,
.hero, .menu-items li {
  width: 100%;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, 0.3)), url(./assets/hero.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100svh - 70px - 50px);
}

.box {
  width: 55%;
  opacity: .9;
  padding: 3em;
  box-sizing: border-box;

  span:nth-child(1) {
    padding: .2em .8em;
    border-radius: 4px;
  }

  .header {
    font-size: 2.5em !important;
    text-transform: capitalize;
  }

  h2 {
    font-weight: 400;
  }
}

.padding-std {
  padding: 0 1em;
}

.padding-1 {
  padding: 0 1em;
}

.padding-med {
  padding: 3em;
}

.footer {
  .title {
    border-bottom: 2px solid $gray;
    width: 40%;
  }
}

.jumbotron-wrapper {
  padding: 100px 0;
}

.contact-help-wrapper {
  padding: 60px 0;

  .card {
    width: 32%;
    padding: 1em;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px 3px #adecaa;

    .icon-wrapper {
      background-color: #dbf6cb;
      border-radius: 50%;
      height: 70px;
      width: 70px;
      border: 2px solid $primaryGreen;

      .fa {
        font-size: 30px;
      }
    }
  }
}

.max-width-75 {
  width: 75%;
}

.contact-form-wrapper {
  padding: 30px 0 60px 0;

  .contact-form {
    max-width: 600px;
    width: 550px;

    input,
    textarea {
      padding: 1.2em;
      border: 2px solid $primaryGreen;
      border-radius: 10px;
      box-sizing: border-box;
    }

    button {
      width: 150px;
    }
  }
}

.green-glow {
  box-shadow: 1px 1px 10px 3px #adecaa;
}

.jumbotron-wrapper {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(./assets/hero.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.product-wrapper {
  padding: 50px;
  box-sizing: border-box;

  .product-card {
    width: 32%;
    box-sizing: border-box;
    margin-bottom: 32px;

    .text {
      padding: 10px;
    }

    .image-wrapper {
      padding: 10px;
    }

    img {
      border-radius: 50%;
    }
  }
}

.benefits-card {
  padding: 20px;

  .icon-wrapper {
    height: 60px;
    width: 60px;
    padding: 10px;

    .fa {
      font-size: 30px;
    }
  }
}

.rounded {
  border-radius: 50%;
}

.half-block {
  width: 50%;
}

.no-decoration {
  text-decoration: none;
}

.about-card-wrapper {
  min-height: 300px;
}

.green-bar {
  width: 10px;
}

.inherit-height {
  height: inherit;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}


.nav-links>ul, .remove-list-styles {
  list-style: none;
  padding: 0;
}
